<form name="newPlanet" action = "/index" method="POST">
  <div class="form_div">
    <label>Name</label>
    <input type="text" name="title" placeholder="Enter a title" value="<%= @object.title %>" autocomplete="off">
  </div>
  <div class="form_div">
    <label>Object Type (Planet or Moon)</label>
    <input type="text" name="object_type" placeholder="Enter the type of solar object" value="<%= @object.object_type %>" autocomplete="off">
  </div>
  <div class="form_div">
    <label>Radius</label>
    <input type="text" name="radius" placeholder="Enter the radius of the object" value="<%= @object.radius %>" autocomplete="off">
  </div>
  <div class="form_div">
    <label>Mass</label>
    <input type="text" name="mass" placeholder="Enter the mass of the object" value="<%= @object.mass %>" autocomplete="off">
  </div>
  <div class="form_div">
    <label>Gravity</label>
    <input type="text" name="gravity" placeholder="Enter the gravitational acceleration of the object" value="<%= @object.gravity %>" autocomplete="off">
  </div>
  <div class="form_div">
    <label>Planet</label>
    <input type="text" name="planet" placeholder="Enter the planet the moon orbits" value="<%= @object.planet %>" autocomplete="off">
  </div>
  <div>
    <input type="submit" value="Create Object">
  </div>
</form>
