<h1><%= @title %></h1>

<% @solar_objects.each do |object| %>
<div>
  <h3><a href="/index/<%= object.id %>"><%= object.title %></a></h3>
  <p><%= object.object_type %></p>
  <p><%= object.radius %></p>
  <p><%= object.mass %></p>
  <p><%= object.gravity %></p>
  <p><%= object.planet %></p>
</div>
<% end %>
