<h1>Solar Objects</h1>

<h2>Planets</h2>
<table>
  <th>Planet Name</th>
  <th>Radius (Earth's Radius)</th>
  <th>Mass (Earth's Mass)</th>
  <th>Gravitational Acceleration (m/s^2)</th>
  <% @solar_objects.each do |object| %>
  <% if object.planet == nil || object.planet == "" %>
  <tr>
    <td><a href="/index/<%= object.id %>"><%= object.title %></a></td>
    <td><%= object.radius %></td>
    <td><%= object.mass %></td>
    <td><%= object.gravity %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<h2>Moons</h2>
<table>
  <th>Moon Name</th>
  <th>Radius (Earth's Radius)</th>
  <th>Mass (Earth's Mass)</th>
  <th>Gravitational Acceleration (m/s^2)</th>
  <th>Planet Moon Orbits</th>
  <% @solar_objects.each do |object| %>
  <% if object.planet != nil %>
  <tr>
    <td><a href="/index/<%= object.id %>"><%= object.title %></a></td>
    <td><%= object.radius %></td>
    <td><%= object.mass %></td>
    <td><%= object.gravity %></td>
    <td><%= object.planet %></td>
  </tr>
  <% end %>
  <% end %>
</table>
